/* src/index.css */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8; /* El mismo gris suave de tu App */
}

/* Esto elimina cualquier restricción extraña */
#root {
  max-width: none !important;
  text-align: left;
}